<%- include('../includes/head') %>

<div class="wrapper">
  <div class="main-panel">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-sm-12 mt-5">
          <div class="card card-chart">
            <div class="card-header">
              <h2>New Password</h2>
            </div>
            <div class="card-body">
              <% if(errorMessage){ %>
              <div><%= errorMessage %></div>
              <% } %>
              <div class="form">
                <form action="/reset" method="POST">
                  <div class="label" id="label">
                    <label for="new-password">New Password</label>
                    <input
                      type="password"
                      name="newPassword"
                      minlength="5"
                      required
                    />
                  </div>
                  <input
                    type="hidden"
                    name="passwordToken"
                    value="<%= passwordToken %>"
                  />
                  <button type="submit">Add Password</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/end') %>
