<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title><%= pageTitle %> </title>
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />
    <!-- Nucleo Icons -->
    <link href="/admin/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/admin/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- From CSS -->
    <link rel="stylesheet" href="/admin/css/form.css" />
  </head>
  <body>
