<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome!</title>
    <link rel="stylesheet" href="/admin/css/start.css" />
  </head>
  <body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
      <h1>Welcome. <span class="errorcode">It is not error!</span></h1>
      <p class="output">
        I think it is the first time you have entered after deploy the site. you
        must to customize some things on the site.
      </p>
      <p class="output">
        So you must go admin dashboard and fill homepage informations. Admin
        panel username is <b>admin</b> and password <b>Admin12345!</b>. Please
        click the <a href="/admin/login">this link</a> to go admin panel!
      </p>
      <p class="output">Good luck.</p>
    </div>
  </body>
</html>
